/* from content.sass */
.b-banner
  padding: 240px 0 255px 161px
  background-image: linear-gradient(to bottom, #64a7d6, #5da1cf)
  position: relative
  &-left
    width: 576px
    position: relative
    &::after,
    &::before
      position: absolute
      content: ""
      width: 50px
      height: 30px
      left: -50px
      top: -70px
      background: url(../img/cloud-1.png) no-repeat 50% 50%
    &::after
      left: -15px
      top: 490px
      background: url(../img/cloud-2.png) no-repeat 50% 50%
    &__heading
      font-size: em(52)
      font-family: "UbuntuBold"
      text-transform: uppercase
      color: #f7f6f2
      line-height: 70px
    &__underheading-text
      font-family: "UbuntuItalic"
      font-size: em(24)
      margin-top: 15px
    &__signup-form
      margin: 50px 0 0 0
      .b-signup-form
        &__label
          cursor: pointer
          color: #f7f7f7
          display: block
          margin-bottom: 35px
          span
            padding: 5px 9px
            border-radius: 5px
            font-family: "UbuntuBold"
            text-transform: uppercase
            background-color: #ffce54
            margin-left: 5px
        &__input-email
          display: block
          width: 390px
          font-size: em(18)
          color: #bec2c8
          font-family: "UbuntuLight"
          text-transform: capitalize
          padding: 15px 0 15px 30px
          border: 1px solid rgba(255, 255, 255, 0.15)
          border-radius: 5px
          display: inline-block
        &__input-submit
          text-transform: uppercase
          font-size: em(18)
          padding: 15px 25px
          background: #77c344
          color: #fff
          border: none
          border-radius: 5px
          display: inline-block
          margin-left: 35px
          cursor: pointer
          transition: 0.4s
          &:hover
            background-color: #ffce54
  &__hand-with-phone
    position: absolute
    right: 0
    top: 101px
    width: 704px
    height: 1000px
    background: url(../img/hand-with-iphone.png) no-repeat 0 0
    img
      position: absolute
    &::after,
    &::before
      position: absolute
      content: ""
      width: 50px
      height: 30px
      right: 265px
      top: 125px
      background: url(../img/cloud-1.png) no-repeat 50% 50%
    &::after
      right: 150px
      top: 610px
      opacity: 0.33

.b-clients
  padding: 65px 0 47px 0
  text-align: center
  background-color: #f8f8f8
  position: relative
  z-index: 1
  &__items
    .b-clients-items
      &__item
        display: inline-block
        margin-right: 120px
        vertical-align: middle
        transition: 0.5s
        cursor: pointer
        &:hover
          opacity: 0.47
        &:last-child
          margin-right: 0
      .evernote
        width: 169px
        height: 43px
        background: url(../img/evernote.png)
      .microsoft
        width: 142px
        height: 31px
        background: url(../img/microsoft.png)
      .google
        width: 131px
        height: 46px
        background: url(../img/google.png)
      .sony
        width: 132px
        height: 23px
        background: url(../img/sony.png)
      .firefox
        width: 112px
        height: 33px
        background: url(../img/firefox.png)

.b-about-us
  padding: 100px 0 120px 0
  overflow: hidden
  &__heading
    color: #2d394c
    text-transform: uppercase
    font-size: em(40)
    text-align: center
  &__advantages
    display: inline-block
    margin-left: 148px
    margin-top: 110px
    .b-advantages
      width: 482px
      &__item
        position: relative
        margin-bottom: 50px
        .item-1::after,
        .item-2::after,
        .item-3::after,
        .item-4::after
          position: absolute
          content: ""
          width: 55px
          height: 55px
          background-color: transparent
        .item-1::after
          background: url(../img/advantages-item-1.png) no-repeat 0 0
          left: -10px
          top: 0
        .item-2::after
          background: url(../img/advantages-item-2.png) no-repeat 0 0
          left: -20px
          top: -10px
        .item-3::after
          background: url(../img/advantages-item-3.png) no-repeat 0 0
          left: -15px
          top: 0
        .item-4::after
          background: url(../img/advantages-item-4.png) no-repeat 0 0
          left: -10px
          top: -15px
        .b-item
          position: relative
          margin-bottom: 31px
          &__heading
            color: #2d394c
            font-size: em(22)
            margin-left: 60px
            margin-bottom: 14px
          &__description
            font-family: "UbuntuLight"
            font-size: em(14)
            color: #9499a2
  &__notebook
    display: inline-block
    width: 755px
    height: 631px
    float: right
    margin-top: 110px
    background: url(../img/mackbook.png) no-repeat 0 0

.b-difference
  padding: 144px 0 120px 0
  background: #f6f6f7 url("../img/rectangle-5.png") no-repeat 100% 0
  background-size: auto 100%
  &__heading
    color: #2d394c
    text-transform: uppercase
    font-size: em(40)
    text-align: center
  &__slider
    .b-slider
      &__item
        display: none
      &__item_active
        display: block
      .b-item
        margin: 140px 0 0 124px
        &__heading
          font-size: em(28)
          color: #2d394c
          margin-left: 88px
          position: relative
          &::after
            position: absolute
            content: ""
            width: 63px
            height: 42px
            background: url(../img/slider-item-1.png)
            left: -90px
            top: 0
        &__description
          margin-top: 25px
          font-family: "UbuntuLight"
          color: #5a626e
          width: 725px
          line-height: 2
      &__nav
        text-align: center
        margin-top: 35px
        .b-nav
          display: inline-block
          &__item
            display: inline-block
            cursor: pointer
            color: #2d394c
            opacity: 0.27
            font-size: em(15)
            padding: 0 8px
            border-radius: 50%
            margin-right: 5px
          &__item_active
            opacity: 1
            background-color: #64a4d7
            color: #fff

.b-signup
  padding: 124px 0 120px 0
  border-bottom: 1px solid rgba(#5a626e, 0.11)
  &__heading
    color: #2d394c
    text-transform: uppercase
    font-size: em(40)
    text-align: center
  &__underheading-text
    font-size: em(24)
    font-family: "UbuntuLightItalic"
    text-align: center
    color: #5a626e
    margin: 21px 0 55px 0
  &__signup-form
    text-align: center
    position: relative
    .b-signup-form
      &__label
        position: absolute
        content: ""
        left: 483px
        top: 24px
        width: 30px
        height: 24px
        background: url(../img/signup-form-img.png) no-repeat 0 0
      &__input-email
        display: inline-block
        font-family: "UbuntuLight"
        font-size: em(21)
        color: rgba(#5a626e, 0.28)
        padding: 23px 0 23px 80px
        margin-right: 35px
        width: 630px
        border: 1px solid rgba(0, 0, 0, 0.1)
        border-radius: 2px
      &__input-submit
        display: inline-block
        background-color: #77c344
        color: #fff
        font-size: em(20)
        text-transform: uppercase
        padding: 23px 57px
        border-radius: 3px
        border: none
        cursor: pointer
        transition: 0.4s
        &:hover
          background-color: #ffce54
