doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Your page description')
    meta(name='author', content='Your page author')
    title App Landing Page
    link(href="css/styles.css", rel="stylesheet")
    link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
    <![if lt IE 9]>
      script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js")
    <![endif]-->
    script(src="js/script.js")
  body
    .page-wrapper
      header.b-page-header
        a(href="#").b-page-header__logo
        .b-page-header__menu
          ul.b-menu
            li.b-menu__item: a(href="#") how it works
            li.b-menu__item: a(href="#") about us
            li.b-menu__item: a(href="#") contact us
            li.b-menu__item: a(href="#") blog
      section.b-brrrrr
        .b-banner-left
          h2.b-banner-left__heading track your next fuel shops
          .b-banner-left__underheading-text Monitor and Alert all petrol bunks near to you
          .b-banner-left__signup-form
            form(action="#" method="post").b-signup-form
              label(for="signup-form__input-email").b-signup-form__label
                | Signup for
                span free
              input(type="mail" placeholder="your e-mail address" name="signup-form__input-email")#signup-form__input-email.b-signup-form__input-email
              input(type="submit" value="signup").b-signup-form__input-submit
        .b-banner__hand-with-phone
      section.b-clients
        .b-clients__items
          .b-clients-items
            a(href="#").b-clients-items__item.evernote
            a(href="#").b-clients-items__item.microsoft
            a(href="#").b-clients-items__item.google
            a(href="#").b-clients-items__item.sony
            a(href="#").b-clients-items__item.firefox
      section.b-about-us
        h2.b-about-us__heading why tank app ?
        .b-about-us__advantages
          .b-advantages
            .b-advantages__item
              .b-item.item-1
                h3.b-item__heading Reliable and Secure Platform
                p.b-item__description Lorem ipsum dolor sit amet, consectetur
                  | adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  | et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  | exercitation ullamco laboris nisi ut aliquip ex ea com
            .b-advantages__item
              .b-item.item-2
                h3.b-item__heading Everything is perfectly orgainized
                p.b-item__description Lorem ipsum dolor sit amet, consectetur
                    | adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    | et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    | exercitation ullamco laboris nisi ut aliquip ex ea com
            .b-advantages__item
              .b-item.item-3
                h3.b-item__heading Rapid customer support
                p.b-item__description Lorem ipsum dolor sit amet, consectetur
                    | adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    | et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    | exercitation ullamco laboris nisi ut aliquip ex ea com
            .b-advantages__item
              .b-item.item-4
                h3.b-item__heading Tons of features and easy to use
                p.b-item__description Lorem ipsum dolor sit amet, consectetur
                    | adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    | et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    | exercitation ullamco laboris nisi ut aliquip ex ea com
        .b-about-us__notebook
      section.b-difference
        h2.b-difference__heading why tank app different?
        .b-difference__slider
          .b-slider
            .b-slider__item.b-slider__item_active
              .b-item
                h2.b-item__heading Works on any device anyware
                p.b-item__description Lorem ipsum dolor sit amet, consectetur
                  | adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  | et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  | exercitation ullamco laboris nisi ut aliquip ex ea com Neque
                  | porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                  | consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
            .b-slider__item
              .b-item
                h2.b-item__heading Works on any device anyware
                p.b-item__description Lorem ipsum dolor sit amet, consectetur
                  | adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  | et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  | exercitation ullamco laboris nisi ut aliquip ex ea com Neque
                  | porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                  | consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
            .b-slider__item
              .b-item
                h2.b-item__heading Works on any device anyware
                p.b-item__description Lorem ipsum dolor sit amet, consectetur
                  | adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  | et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  | exercitation ullamco laboris nisi ut aliquip ex ea com Neque
                  | porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                  | consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
            .b-slider__item
              .b-item
                h2.b-item__heading Works on any device anyware
                p.b-item__description Lorem ipsum dolor sit amet, consectetur
                  | adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  | et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  | exercitation ullamco laboris nisi ut aliquip ex ea com Neque
                  | porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                  | consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
            .b-slider__nav
              .b-nav
                .b-nav__item.b-nav__item_active 1
                .b-nav__item 2
                .b-nav__item 3
                .b-nav__item 4
      section.b-signup
        h2.b-signup__heading save time & gain agility
        p.b-signup__underheading-text Using our cloud Monitoring Services So you can Focous on Runing Yours Better
        .b-signup__signup-form
          form(action="#" method="post").b-signup-form
            label.b-signup-form__label
            input(type="mail" placeholder="Enter Your E-mail Adress" name="signup-form__input-email").b-signup-form__input-email
            input(type="submit" value="signup").b-signup-form__input-submit
      footer.b-footer
        a(href="#").b-footer__logo
        .b-footer__links
          .b-links
            a(href="#").b-links__item.tw
            a(href="#").b-links__item.fb
            a(href="#").b-links__item.gp
        .b-footer__menu
          ul.b-menu
            li.b-menu__item: a(href="#") how it works
            li.b-menu__item: a(href="#") about us
            li.b-menu__item: a(href="#") contact us
            li.b-menu__item: a(href="#") blog
